$font-size-root: 10px;
$lead-font-size: calc(2rem + 0.1vw);
$lead-font-weight: inherit;
$spacer: 2rem;
$primary-color: #1C4D65;
$secondary-color: #4ad1cc;//58bba4;
$highlight-color: #d35137;//e97435;
$message-color: #004085;
$alert-color: #850017;
$body-font: 'Montserrat', 'Helvetica', sans-serif;

@import "../scss/bootstrap-reboot.scss";
@import "bootstrap/bootstrap-grid.min.css";
@import "../scss/bootstrap-utilities.scss";
@import "../scss/_type.scss";
@import "../scss/_buttons.scss";
@import "../scss/_modal.scss";
@import "../scss/_close.scss";
@import "../scss/_tables.scss";

@import "menu.css";

// Base //

html {
  height: 100%;
  scroll-padding-top: 60px;
}

body {
  height: 100%;
  font-family: $body-font;
  color: $primary-color;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  display: flex;
  flex-direction:  column;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.content {
  flex: 1 0 auto;
}

.row {
  margin: 0;
}

// Headings and text //

p, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 2rem;
}

h1, .h1 {
  font-size: calc(2.3rem + 1vw);
  font-weight: 700;
  margin-bottom: 3rem;
}

h2, .h2 {
  font-size: calc(2.2rem + 0.5vw);
}

h3, .h3 {
  font-size: calc(2rem + 0.5vw);
}

h4, .h4 {
  font-size: calc(1.8rem + 0.25vw);
}

h5, .h5 {
  font-size: calc(1.6rem + 0.25vw);
}

h6, .h6 {
  font-size: calc(1.4rem + 0.25vw);
}

// Links and buttons //

a {
  display: inline-block;
  text-decoration: none;
  color: darken($secondary-color, 15%);
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $secondary-color;
  }

  &:before {
    display: block;
    font-weight: 600;
    content: attr(data-text);
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  &.btn {
    display: inline-block;
    
    &:hover {
      text-decoration: none;
    }
  }
}

button, .btn, input[type="submit"] {
  display: block;
  margin: 2rem auto;
  padding: 1rem 2rem;
  background-color: $primary-color;
  border: 2px solid $primary-color;
  color: white;
  transition: 0.3s;
  font-size: 1.7rem;
  font-weight: 600;

  &:hover {
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: white;
  }

  .btn.clr {
    background-color: transparent;
    border-color: white;
  }
  
  .btn.sec {
    color: $primary-color;
    border-color: $primary-color;
    background-color: transparent;
    font-weight: 400;
    width: fit-content;
  }
  
  &.highlight {
    background-color: $highlight-color;
    border: none;

    &:hover {
      background-color: darken($highlight-color, 8%);//#b03e28;
    }
  }
  
  &.sm {
    font-weight: 400;
    border-width: 1px;
    margin-top: 1rem;
    padding: 0.5rem 2rem;
  }
  
  &.cta {
    margin-top: calc(2rem + 1vw);
    font-size: $lead-font-size;
  }
  
  .row:hover > div > .btn.edit {
    display: inline-block;
  }
  
  &.alert {
    color: $alert-color;
    border-color: $alert-color;
    background-color: transparent;

    &:hover {
      background-color: $alert-color;
      border-color: $alert-color;
      color: white;
    }
  }
}

// Inputs //

input, textarea {
  font-size: 1.6rem;
  line-height: 2.5rem;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid #999;
  width: 100%;
  outline: none;
  color: $primary-color;

  &:focus {
    border-bottom: 1px solid $primary-color;
  }
}

input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  width: 0;

  + label {
    display: block;
    position: relative;
    padding-left: 3rem;
    cursor: pointer;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      margin-right: 10px;
      width: 20px;
      height: 20px;
      border: 2px solid $primary-color;
      border-radius: 3px;
    }
  }

  &:checked {
    + label::before {
      background-color: $primary-color;
    }

    + label::after {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      border-left: 3px solid white;
      border-bottom: 3px solid white;
      height: 8px;
      width: 12px;
      transform: rotate(-45deg);
    }
  }

  &:focus + label::before {
    box-shadow: 0 0px 8px $primary-color;
  }
}

input[type='radio'] {
  opacity: 0;
  width: 0;

  + label {
    position: relative;
    display: inline-block;
    padding-left: 0.5rem;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      display: inline-block;
      left: -2.2rem; /* This will be adjusted */
      top: 0.1rem;
      width: 2rem;
      height: 2rem;
      background: transparent;
      border: 2px solid $primary-color;
      border-radius: 50%;
    }

    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      left: -1.7rem;
      top: 0.6rem;
      border-radius: 50%;
      width: 1rem;
      height: 1rem;
    }
  }

  &:checked {
    + label::after {
      background: $primary-color;
    }
  }

  &:focus {
    + label::before {
      box-shadow: 0 0px 8px $primary-color;
    }
  }
}

.radio-wrapper {
  display: inline-block;
  padding-left: 1.5rem;
  margin: 0.25rem 1rem 0.25rem 0;
}

.radio-set-label {
  display: inline-block;
  margin: 1rem 1rem 0.5rem;
  font-weight: 600;
}

select {
  color: $primary-color;
  border: 2px solid $primary-color;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

// Styling for dark backgrounds //

.inverse {
  color: white;
  
  a {
    color: white;

    &:hover, &:hover h2 {
      font-weight: 600;
      color: white;
    }
  }

  button, .btn, input[type="submit"] {
    background-color: $secondary-color;
    border-color: $secondary-color;

    &:hover {
      background-color: darken($secondary-color, 15%);
      border-color: darken($secondary-color, 15%);
    }
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

div.message {
  padding: 0.5rem 0;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 0;
  color: $message-color;
  background-color: lighten($message-color, 90%);
  border-color: lighten($message-color, 90%);

  &.error {
    color: $alert-color;
    background-color: lighten($alert-color, 95%);
    border-color: lighten($alert-color, 95%);
  }

  a {
    text-decoration: underline;
    white-space: nowrap;
  }
}

.title-margin {
  padding-top: calc(2rem + 3vw);
}

#contact {
  position: relative;
}

// Nav //

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border: none;
  border-bottom: 1px solid $primary-color;
  background-color: $primary-color;
  z-index: 100;
}

#nav-img {
  height: 36px;
  margin: 12px 0;
  max-width: 100%;
}

#menu-title {
  padding-top: 2px;
}

#menu-btn {
  display: flex;
  justify-content: flex-end;
  margin: 17px 0 17px auto;
  color: white;
  text-decoration: none;
}

#menu-btn:hover, #menu-btn:focus {
  text-decoration: none;
}

#menu-icon {
  height: 26px;
  padding-left: 15px;
}

.drawer__content a {
  display: inline;
}

.menu-link {
  height: 60px;
  border-bottom: 1px solid white;
  color: $primary-color;
  transition: 0.3s;

  &:hover {
    background-color: $secondary-color;
    border-color: $secondary-color;
    color: white;
  }

  p {
    padding: 1.7rem;
    cursor: pointer;
  }
}

.footer {
  flex-shrink: 0;
  width: 100%;
  bottom: 0;
  padding: 20px;
  background-color: $primary-color;
  color: white;
  margin-top: 11rem;
}

// Home page

#home-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/simon-berger-twukN12EN7c-unsplash.jpg) center bottom no-repeat;
}

#home-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/te-lun-ou-yang-TFZlTFOWReA-unsplash.jpg) center bottom no-repeat;
}

#home-1, #home-3 {
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  overflow: auto;
}

// Mobile backgrounds //
@media screen and (max-width: 575px) {
  #home-1, #home-3 {
    background-attachment: scroll;
  }
}

#home-logo {
  position: relative;
  display: block;
  margin: 3rem auto;
  height: calc(80px + 3vw);
}

#home-title {
  font-size: calc(1.8rem + 3vw);
}

#home-tagline {
  margin-top: 2rem;
  font-size: calc(1.75rem + 1vw);
  font-weight: 700;
}

.home-nav {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border: none;

  li {
    list-style: none;
  }
  
  a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    padding: calc(3rem + 2vw) 0;
    text-transform: capitalize;

    &:hover, &:focus {
      font-weight: 600;
    }
  }
}

.home-section {
  min-height: 100vh;
  overflow: auto;
  padding-top: calc(3rem + 2vw);

  &.end {
    min-height: calc(100vh - 30rem);
  }
}

.home-next {
  display: table;
  margin: calc(2rem + 1vw) auto 3rem;
  text-align: center;
}

.bi-chevron-down {
  font-size: 1rem;
}

// About page //

.profile-img {
  display: block;
  border-radius: 100%;
  margin: 0 auto 2rem;
  max-height: 155px;
}

.white {
  color: white;
}

.semibold {
  font-weight: 600;
}