$font-size-root: 10px;
$lead-font-size: calc(2rem + 0.1vw);
$lead-font-weight: inherit;
$spacer: 2rem;
$enable-smooth-scroll: false;
$primary-color: #1C4D65;
$secondary-color: #4ad1cc;//58bba4;
$highlight-color: #d35137;//e97435;;
$body-font: 'Montserrat', 'Helvetica', sans-serif;
$title-font: 'Montserrat Alternates', 'Helvetica', sans-serif;

@import "../scss/bootstrap-reboot.scss";
@import "bootstrap/bootstrap-grid.min.css";
@import "../scss/bootstrap-utilities.scss";
@import "../scss/_type.scss";
@import "../scss/_buttons.scss";
@import "../scss/_modal.scss";
@import "../scss/_close.scss";
@import "../scss/_tables.scss";

@import "menu.css";

// Sitewide stylings //
html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $body-font;
  color: $primary-color;
  font-size: 1.6rem;
  display: flex;
  flex-direction:  column;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

p {
  margin-bottom: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

@media screen and (max-width: 575px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

.row {
  margin-left: 0;
  margin-right: 0;
}

input, textarea {
  font-size: 1.6rem;
  line-height: 2.5rem;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid #999;
  width: 100%;
  outline: none;
  color: $primary-color;
}

input:focus, textarea:focus {
  border-bottom: 1px solid $primary-color;
}

input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  width: 0;

  + label {
    display: block;
    position: relative;
    padding-left: 3rem;
    cursor: pointer;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      margin-right: 10px;
      width: 20px;
      height: 20px;
      border: 2px solid $primary-color;
      border-radius: 3px;
    }
  }

  &:checked {
    + label::before {
      background-color: $primary-color;
    }

    + label::after {
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      border-left: 3px solid white;
      border-bottom: 3px solid white;
      height: 8px;
      width: 12px;
      transform: rotate(-45deg);
    }
  }

  &:focus + label::before {
    box-shadow: 0 0px 8px $primary-color;
  }
}


input[type='radio'] {
  opacity: 0;
  width: 0;

  + label {
    position: relative;
    display: inline-block;
    padding-left: 0.5rem;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      display: inline-block;
      left: -2.2rem; /* This will be adjusted */
      top: 0.1rem;
      width: 2rem;
      height: 2rem;
      background: transparent;
      border: 2px solid $primary-color;
      border-radius: 50%;
    }

    &::after {
      content: '';
      position: absolute;
      display: inline-block;
      left: -1.7rem;
      top: 0.6rem;
      border-radius: 50%;
      width: 1rem;
      height: 1rem;
    }
  }

  &:checked {
    + label::after {
      background: $primary-color;
    }
  }

  &:focus {
    + label::before {
      box-shadow: 0 0px 8px $primary-color;
    }
  }
}

.radio-wrapper {
  display: inline-block;
  padding-left: 1.5rem;
  margin: 0.25rem 1rem 0.25rem 0;
}

.radio-set-label {
  display: inline-block;
  margin: 1rem 1rem 0.5rem;
  font-weight: 600;
}

select {
  color: $primary-color;
  border: 2px solid $primary-color;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.semibold {
  font-weight: 600;
}

a {
  display: inline-block;
  text-decoration: none;
  color: darken($secondary-color, 15%);
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: $secondary-color;
}

.inverse a:hover, .inverse a:hover h2 {
  font-weight: 600;
  color: white;
}

a.btn:hover {
  text-decoration: none;
}

a:before {
  display: block;
  font-weight: 600;
  content: attr(data-text);
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

button, .btn, input[type="submit"] {
  display: block;
  margin: 2rem auto;
  padding: 1rem 2rem;
  background-color: $primary-color;
  border: 2px solid $primary-color;
  color: white;
  transition: 0.3s;
  font-size: 1.7rem;
  font-weight: 600;
}

a.btn {
  display: inline-block;
}

.white {
  color: white;
}

.btn.clr {
  background-color: transparent;
  border-color: white;
}

.btn.sec {
  color: $primary-color;
  border-color: $primary-color;
  background-color: transparent;
  font-weight: 400;
  width: fit-content;
}

.btn.highlight {
  background-color: $highlight-color;
  border: none;
}

.btn.highlight:hover {
  background-color: darken($highlight-color, 8%);//#b03e28;
}

.btn.sm {
  font-weight: 400;
  border-width: 1px;
  margin: 0;
  padding: 0.5rem 2rem;
}

.btn.cta {
  margin-top: calc(2rem + 1vw);
  font-size: $lead-font-size;
}

.row:hover > div > .btn.edit {
  display: inline-block;
}

.btn.alert {
  color: #d61212;
  border-color: #d61212;
  background-color: transparent;
}

.btn.alert:hover {
  background-color: #d61212;
  border-color: #d61212;
  color: white;
}

button:hover, .btn:hover, input[type="submit"]:hover, .menu-link:hover {
  background-color: $secondary-color;
  border-color: $secondary-color;
  color: white;
}

.drawer__close:hover {
  background-color: white;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

#home-alert {
  width: 100%;
}

div.alert {
  padding: 0.5rem 0;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0;
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert.error {
  color: #850017;
  background-color: #ffd4db;
  border-color: #ffd4db;
}

.alert a {
  text-decoration: underline;
  white-space: nowrap;
}

.section-margin {
  padding-top: calc(2rem + 3vw);
}

.page-title {
  font-family: $title-font;
  font-size: calc(2.25rem + 1vw);
}

.content {
  flex: 1 0 auto;
}

#contact {
  position: relative;
}

.footer {
  flex-shrink: 0;
  width: 100%;
  bottom: 0;
  padding: 20px;
  background-color: $primary-color;
  color: white;
  margin-top: 11rem;
}

// Nav //

#nav-img {
  height: 36px;
  margin: 12px 0;
  max-width: 100%;
}

#menu-title {
  padding-top: 2px;
}

#menu-btn {
  display: flex;
  justify-content: flex-end;
  margin: 17px 0 17px auto;
  color: white;
  text-decoration: none;
}

#menu-btn:hover, #menu-btn:focus {
  text-decoration: none;
}

#menu-icon {
  height: 26px;
  padding-left: 15px;
}

.drawer__content a {
  display: inline;
}

.menu-link {
  height: 60px;
  border-bottom: 1px solid #ddd;
  color: $primary-color;
  transition: 0.3s;
}

.menu-link p {
  padding: 1.7rem;
}

.site-nav {
  height: 60px;
  position: fixed;
  left: 0;
  width: 100%;
  background-color: $primary-color;
  border: 1px solid $primary-color;
  z-index: 5;
}

.nav-gap {
  height: 60px;
  width: 100%;
}

#free-trial {
  overflow: unset;
}

.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border: none;
  border-bottom: 1px solid $primary-color;
  background-color: $primary-color;
  z-index: 100;
}

// Home page

// X-large backgrounds //

// #home photo by Ekaterina Bolovtsova on Pexels
// https://www.pexels.com/@ekaterina-bolovtsova

#home {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/student-xl.webp) center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  overflow: auto;
}

// #free-trial photo by Julia M Cameron on Pexels
// https://www.pexels.com/@julia-m-cameron

#free-trial {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/student2-xl.webp) center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

// Med-Large backgrounds //
@media screen and (max-width: 1200px) {
  #home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/student-lg.webp);
  }

  #free-trial {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/student2-lg.webp);
  }
}

// Mobile backgrounds //
@media screen and (max-width: 575px) {
  #home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/student.jpg);
    background-attachment: scroll;
  }

  #free-trial {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/student2.jpg);
    background-attachment: scroll;
  }
}

#home-logo {
  position: relative;
  display: block;
  margin: 0 auto 3rem;
  height: calc(80px + 3vw);
}

#home-title {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: calc(1.8rem + 3vw);
  font-weight: 400;
}

#home-tagline {
  margin-top: 2rem;
  font-size: calc(1.75rem + 1vw);
  font-weight: 700;
}

.home-nav {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border: none;
}

.home-nav li {
  list-style: none;
}

.home-nav a {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  padding: calc(3rem + 2vw) 0;
  text-transform: capitalize;
}

.home-nav a:focus, .home-nav a:hover {
  font-weight: 600;
}

.home-section {
  min-height: 100vh;
  overflow: auto;
  margin-top: -60px;
  padding-top: calc(7rem + 3vw);
}

.home-section.end {
  min-height: calc(100vh - 30rem);
}

.inverse {
  color: white;
}

.inverse a {
  color: white;
}

.home-next {
  display: table;
  margin: calc(2rem + 1vw) auto 3rem;
  text-align: center;
}

.bi-chevron-down {
  font-size: 1rem;
}

.usp {
  margin-top: calc(2rem + 2vw);
}

.usp-icon {
  width: 7rem;
  height: 7rem;
  fill: $secondary-color;
  margin-bottom: 2rem;
}

.usp-title {
  margin-bottom: 1.5rem;
}

.usp-text {
  color: #888;
}

// About page //

.profile-pic {
  display: block;
  border-radius: 100%;
  margin: 0 auto 2rem;
  max-height: 155px;
}

// Reviews page //

.review-img {
  height: 100px;
  margin-bottom: 2rem;
}


.student-list, .user-list {
  transition: height 0.2s ease-out;
  overflow: hidden;
}

.table-container {
  overflow: overlay;
  border: 1px solid #58adc7;
  border-radius: 5px;
}

.table > :not(caption) > * > * {
  padding: 1rem;
}

thead {
  background-color: #58adc7;
  color: white;
}

th, td {
  white-space: nowrap;
  width: 1%;
}

td {
  color: $primary-color;
}

.test-date {
  width: 177px;
}

// Hidden fields to be revealed //

.hidden-form, #parent-info, #student-info, #inactive-students {
  height: 0px;
  transition: height 0.5s ease-out;
  overflow: hidden;
}

.slide-toggle {
  cursor: pointer;
}

.w-fit {
  width: fit-content;
}