<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body style="color: #1C4D65;">
    <p>
      Hi {{ user.first_name }}, thank you for contacting Open Path Tutoring.
      We have received your message and will get back to you soon. You are
      welcome to reply to this email if you wish to add further details.
    </p>
    <p style="white-space: pre-wrap;">Your message:<br/>{{ message }}</p>
    <p>
      <br/>
      "We don't have to do all of it alone. We were never meant to."<br/>
      &ndash; Brene Brown
    </p>
  </body>
</html>
