<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body style="color: #1C4D65;">
    <p>
      Hi {{ student.student_name }}, this is an automated reminder that the late
      registration deadline for the {{ test_date.test.upper() }} on {{ td }} is coming
      up on {{ late_dl }}. This is also the deadline for cancelling or changing
      your test date.
    </p>
    <p>
      If you're already registered, then well done! If you have decided against taking
      the test on this date, reply to this email with your updated plans so that you
      only receive relevant reminders.
    </p>
    <p>
      All the best,<br>
      The Open Path Team
    </p>
  </body>
</html>