<p>Hi {{ user.first_name }},</p>
<p>You can
  <a href="{{ url_for('reset_password', token=token, _external=True) }}">
    {% if user.password_hash %}
      reset
    {% else %}
      set
    {% endif %} your password here.
  </a>
</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('reset_password', token=token, _external=True) }}</p>
<p>If you have not requested a password reset, please ignore this message.</p>
<p>Sincerely,<br>
The Open Path Team</p>
