<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body style="color: #1C4D65;">
    <p>
      Hi {{ student.parent_name }}, thank you for requesting your student's practice
      test score analysis. You should receive the analysis within 48 hours. Feel free
      to reply to this address with any questions in the meantime.<br/>
    </p>

    <p>
      Student name: {{ student.student_name }} {{ student.last_name }}<br/>
      School: {{ school }}
    </p>

    <p>
      <br/>
      "We don't have to do all of it alone. We were never meant to."<br/>
      &ndash; Brene Brown
    </p>
  </body>
</html>
