{% extends "base.html" %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-6 col-sm-4">
      <img class="profile-pic" src="{{ url_for('static', filename='img/danny.jpg') }}" alt="Danny Pernik">
    </div>
  </div>

  <div class="row justify-content-center">
    <h1 class="page-title text-center mb-4">Meet Your Tutor</h1>
  </div>

  <div class="row">
    <p class="h2">Hello! My name is Danny Pernik. I've had the privilege of working with
      hundreds of students over the past 5 years to help them substantially
      increase grades and test scores, strengthen confidence in and out of the
      classroom, and get accepted into some of the most selective and
      prestigious universities in the country.
    </p>

    <p class="h2">I love to tutor. I really enjoy getting to connect one-on-one with
      students as a peer rather than as an authority figure. Prior to Open
      Path Tutoring, I worked for two of the leading test prep companies in
      the country. I gained valuable perspective regarding not only the
      variety of test prep strategies but also the subtle art of building
      trust and rapport with high schoolers. Students tend to be more receptive
      to ideas or feedback when I share them than when a parent or teacher
      shares them. I feel fortunate to be given the opportunity to connect
      meaningfully with so many fantastic teenagers.
    </p>

    <p class="h2">I love to explore and support ideas to change the world.
      Open Path Tutoring is the third entrepreneurial journey I've
      embarked upon since 2011. I love to explore ideas that forge new
      connections within communities and make the world a better place.
      I previously cofounded an organization called openCurrents that
      aimed to provide a living wage to volunteers of nonprofits through
      digital currency. Nonprofits issued 1 "Current" to volunteers for
      each hour worked, and businesses in the community gave discounts
      to volunteers in exchange for Currents.
    </p>

    <p class="h2">I love to spend time with my family, play soccer, and grow my spiritual connection.
      Online tutoring has allowed me to spend more time with my son Ember
      and daughter Zeta as they grow up. It can be challenging too, of course,
      but I welcome the opportunity to grow. The kids are a long way from college,
      but when they start test prep, I will find them a tutor too. I know better
      than to expect them to listen to me!
    </p>

    <h1 class="mt-4">Education</h1>
    <ul>
      <li class="h2 m-2">BS in Statistics and BBA in Marketing from the University
        of Wisconsin - Madison</li>
      <li class="h2 m-2">Alum of St. Xavier High School in Cincinnati, Ohio</li>
    </ul>
  </div>
  
  <div class="row text-center">
    <div class="col">
      <button class="btn cta" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/openpathtutoring/intro?hide_event_type_details=1&primary_color=8c90ed'});return false;">
        Schedule a free trial session
      </button>
      <a href="{{ url_for('index', _anchor='contact') }}" class="sec btn mt-0">
        Get in touch
      </a>
    </div>
  </div>
{% endblock content %}
