<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <title>
        {% block title %}
          {% if title %}
            {{ title }} -
          {% endif %}
          Base Template
        {% endblock title %}
      </title>

      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- favicons -->
      <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='img/favicons/favicon.svg' ) }}" sizes="any">
      <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/favicons/apple-touch-icon.png') }}">
      <link rel="manifest" href="{{ url_for('static', filename='img/favicons/manifest.webmanifest') }}">

      {% block styles %}
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;1000&family=Montserrat+Alternates&display=swap"
          rel="stylesheet">
          <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
          <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css', u=last_updated) }}">
      {% endblock styles %}

      <script async src="{{ url_for('static', filename='js/menu.js') }}"></script>
    {% endblock head %}
  </head>
  <body>
    <div class="content">
      {% block navbar %}
        
        {% include "_header-base.html" %}
        
        {% block alerts %}
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="message {{ category }}" role="message">{{ message }}</div>
              {% endfor %}
            {% endif %}
          {% endwith %}

          {% if form %}
            {% for field, errors in form.errors.items() %}
              <div class="message error">{{ errors[0] }}</div>
            {% endfor %}
          {% endif %}
        {% endblock alerts %}
      {% endblock navbar %}

      {% block container %}
        <div class="row title-margin justify-content-center">
          <div class="col-11 col-sm-10 col-lg-8">

            {% block content %}{% endblock content %}

          </div>
        </div>
      {% endblock container %}
    </div>

    {% block footer %}
      <footer class="footer inverse">
        <div class="row justify-content-center">
          <div class="col-sm-10">
            <p class="mb-2 mt-3">
              <img src="{{ url_for('static', filename='img/phone.svg') }}"/>
              <a class="ms-2" href="tel:"></a>
            </p>
            <p class="mb-2">
              <img src="{{ url_for('static', filename='img/mail.svg') }}"/>
              <a class="ms-2" href="mailto:" target="_blank"></a>
            </p>
            <p>
              <span class="me-3 h5">&copy;</span>
              <span><script>document.write(new Date().getFullYear())</script></span>
            </p>
          </div>
        </div>
      </footer>
    {% endblock footer %}

    {% block end_scripts %}{% endblock end_scripts %}
  </body>
</html>
