{% extends "base.html" %}

{% block container %}
  <div class="row justify-content-center">
    <div class="col-11 col-sm-9 col-lg-5 mb-4">
      <h1 class="d-inline-block me-4">Edit {{ date.date.strftime('%B %-d') }}</h1>
      <form class="" action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.test }}
        {{ form.status }}
        <div class="mt-3">
          <label for="date">Test date:</label>{{ form.date(class='mb-2') }}
          <label for="reg_date">Registration deadline:</label>{{ form.reg_date(class='mb-2') }}
          <label for="late_date">Late deadline:</label>{{ form.late_date(class='mb-2') }}
          <label for="other_date">Other deadline:</label>{{ form.other_date(class='mb-2') }}
          <label for="score_date">Score release date:</label>{{ form.score_date }}
        </div>

        <div class="row">
          <div class="col-8">
            <input type="submit" name="save" value="Save">
          </div>
          <div class="col-4">
            <a href="#" class="btn alert mt-3 w-100" data-bs-toggle="modal" data-bs-target="#delete-modal" data-text="delete">
              Delete
            </a>
          </div>
          <div class="col-12 text-center">
            <a href="{{ url_for('test_dates') }}" class="btn sec">
              Test dates
            </a>
          </div>
        </div>

        <div id="delete-modal" class="modal fade" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="container-fluid">
                <div class="row">
                  <div class="modal-header mt-2">
                    <h1 class="modal-title">Are you sure?</h1>
                  </div>
                </div>
                <div class="modal-body">
                  <button class="btn alert d-inline me-2" type="submit" name="delete">Delete {{ date.date }}</button>
                  <button class="btn d-inline" data-bs-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-11 col-sm-9 col-lg-4 offset-lg-1">
      <h1 class="mb-2">Students registered</h1>
      {% for s in students %}
        {% if s.is_registered %}
          <div class="row">
            <div class="col-8">
              <h2 class="my-1">{{ s.students.student_name }} {{ s.students.last_name }}</h2>
            </div>
            <div class="col-4">
              <a href="{{ url_for('edit_student', id=s.student_id) }}" class="edit btn sec">Edit</a>
            </div>
          </div>
        {% endif %}
      {% endfor %}

      <h1 class="mb-2 mt-4">Students interested</h1>
      {% for s in students %}
        {% if not s.is_registered %}
          <div class="row">
            <div class="col-8">
              <h2 class="my-1">{{ s.students.student_name }} {{ s.students.last_name }}</h2>
            </div>
            <div class="col-4">
              <a href="{{ url_for('edit_student', id=s.student_id) }}" class="edit btn sec">Edit</a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
      
  </div>
{% endblock container %}

{% block end_scripts %}
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
{% endblock end_scripts %}
