{% extends "base.html" %}

{% block container %}
  <form class="" action="" method="post">
    {{ form.hidden_tag() }}
    <div class="row justify-content-center g-0">
      <div class="col-11 col-sm-9 col-lg-6">
        <div class="row">
          <div class="col-8">
            <h1>Edit user</h1>
          </div>
          <div class="col-4 text-end">
            {{ form.status }}
          </div>
          <div class="col-12">
            {{ form.first_name }}
            {{ form.last_name }}
            {{ form.email }}
            {{ form.phone }}
            {{ form.secondary_email }}
            {{ form.timezone }}
            {{ form.location }}
  
            <div class="d-sm-flex mt-3 justify-content-between">
              <div class="mb-2">
                <h3 class="mb-1">Role:</h3>
                {{ form.role }}
              </div>
  
              <div id="parent-div" class="mb-2">
                <h3 class="mb-1">Parent:</h3>
                {{ form.parent_id }}
              </div>
              <div id="tutor-div" class="mb-2">
                <h3 class="mb-1">Tutor:</h3>
                {{ form.tutor_id }}
              </div>
            </div>
            
            {% for t in tests %}
              <div class="row mt-3 g-0">
                <h3 class="mb-1">{{ t.upper() }} dates:</h3>
                <div class="d-flex flex-wrap">
                  {% for d in upcoming_dates %}
                    {% if d.test == t %}
                      <div class="test-date mt-1">
                        <input type="checkbox" id="{{ d.id }}" value="{{ d.id }}" name="test_dates"
                          {{ "checked" if d.id in selected_date_ids }}>
                        <label for="{{ d.id }}" class="text-nowrap">
                          {{ d.date.strftime('%B %-d') }}
                        </label>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-12">
            <h3 class="mb-1">Settings:</h3>
          </div>
          <div class="col mt-2">
            {{ form.session_reminders }}
            {{ form.session_reminders.label }}
          </div>
          <div class="col mt-2">
            {{ form.is_admin }}
            {{ form.is_admin.label }}
          </div>
          <div class="col text-end">
            <a href="#" data-bs-toggle="modal" data-bs-target="#delete-modal" data-text="delete">
              <button type="button" class="btn sec alert">Delete</button>
            </a>
          </div>
    
          <div class="col-12">
            <div class="mb-3">
              <input type="submit" name="save" value="Save">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="delete-modal" class="modal fade" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="container-fluid">
            <div class="row">
              <div class="modal-header mt-2">
                <h1 class="modal-title">Are you sure?</h1>
              </div>
            </div>
            <div class="modal-body">
              <button class="btn alert d-inline me-2" type="submit" name="delete">Delete {{ user.first_name }}</button>
              <button class="btn d-inline" data-bs-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="row text-center">
    <div class="col">
      <a href="{{ url_for('users') }}">
        <button class="btn sec">
          User list
        </button>
      </a>
    </div>
  </div>
{% endblock container %}

{% block end_scripts %}
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='js/toggle-parent-tutor.js') }}"></script>
  <script>
    document.getElementById('phone').addEventListener('input', function (e) {
      var x = e.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
      e.target.value = !x[2] ? x[1] : x[1] + '-' + x[2] + (x[3] ? '-' + x[3] : '');
    });
  </script>
{% endblock end_scripts %}
