{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
  {{ super() }}
  <meta property="og:title" content="Open Path Tutoring" />
  <meta property="og:description" content="Schedule your free SAT/ACT prep session today" />
  <meta property="og:image" content="{{ url_for('.static', filename='img/og-image.jpg') }}" />
{% endblock head %}

{% block styles %}
  {{ super() }}
  <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
{% endblock styles %}

{% block content %}
  <div id="home" class="home-section inverse text-center">
    <div class="row justify-content-center">
      <div class="col-sm-11">
        <img id="home-logo" class="img-fluid"
          src="{{ url_for('.static', filename='img/logo-white.svg') }}" alt="">
        <h1 id="home-title">Open Path Tutoring</h1>
        <h1 id="home-tagline">Access your full potential on the SAT, ACT, and beyond</h1>
        <button class="lg" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/openpathtutoring/intro?hide_event_type_details=1&primary_color=8c90ed'});return false;">
          Schedule a free tutoring session
        </button>
        <div class="home-next">
          <a href="#benefits">
            <h2>
              Why Open Path?
            </h2>
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi
                bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="benefits" class="home-section white">
    <div class="row text-center justify-content-center">
      <div class="col-10">
        <div class="row justify-content-center">
          <h1 class="home-header">Why choose Open Path Tutoring?</h1>
        </div>
        <div class="row justify-content-center">
          <div class="usp col-md-4">
            <svg class="usp-icon" viewBox="0 0 16 16" class="bi bi-shield-fill-check" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 .5c-.662 0-1.77.249-2.813.525a61.11 61.11 0 0 0-2.772.815 1.454 1.454 0 0 0-1.003 1.184c-.573 4.197.756 7.307 2.368 9.365a11.192 11.192 0 0 0 2.417 2.3c.371.256.715.451 1.007.586.27.124.558.225.796.225s.527-.101.796-.225c.292-.135.636-.33 1.007-.586a11.191 11.191 0 0 0 2.418-2.3c1.611-2.058 2.94-5.168 2.367-9.365a1.454 1.454 0 0 0-1.003-1.184 61.09 61.09 0 0 0-2.772-.815C9.77.749 8.663.5 8 .5zm2.854 6.354a.5.5 0 0 0-.708-.708L7.5 8.793 6.354 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
            </svg>
            <h1 class="usp-title">Proven</h1>
            <h3 class="usp-text text-md-left">Over the past 5 years, Open Path tutors have helped
                hundreds of students significantly raise test scores, improve grades,
                and get accepted into top universities.
            </h3>
          </div>
          <div class="usp col-md-4">
            <svg class="usp-icon bi bi-person-plus-fill" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm7.5-3a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
            <h1 class="usp-title">Personalized</h1>
            <h3 class="usp-text text-md-left">Not only do we use score analyses of practice tests to tailor
                sessions to each student's strengths and opportunities, but we also seek to
                grow a sense of connection with a student to uncover sources of motivation or self-limitation.
                Sometimes a small shift in mindset can have a major impact on results.
            </h3>
          </div>
          <div class="usp col-md-4">
            <svg class="usp-icon bi bi-bookmark-star-fill" viewBox="0 0 16 16" class="" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4 0a2 2 0 0 0-2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4zm4.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z"/>
            </svg>
            <h1 class="usp-title">Proficient</h1>
            <h3 class="usp-text text-md-left">Open Path tutors are experts in both the subject matter
              being taught and the art of tutoring itself. They are two different skillsets!
              We are always seeking to grow more effective in both aspects.
            </h3>
          </div>
        </div>
        <div class="home-next">
          <a href="#free-trial">
            <h2>
              See if we are right for you
            </h2>
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi
                bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="free-trial" class="home-section inverse">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-lg-8">
        <h1 class="mb-5">In just about any academic subject, one factor can make the difference
          between the best class ever and the most dreaded time of day:
          <b>your teacher</b>.</h1>
        <h1 class="mb-5">The SAT and ACT are no different. If you don't enjoy your time with
          a tutor, then the process will be painful. However, if you feel connected to
          and respected by your tutor, then you'll be more willing to put in the work.
        </h1>
        <h1 class="mb-5">The only way to know is to try. That's why Open Path Tutoring
          offers the <b>1st hour of tutoring free</b> with no purchase necessary.
        </h1>
        <button class="lg" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/openpathtutoring/intro?hide_event_type_details=1&primary_color=8c90ed'});return false;">
          Schedule a free tutoring session
        </button>
        <div class="home-next">
          <a href="#contact">
            <h2>
              Have a question?
            </h2>
            <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-chevron-down"
                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="contact" class="home-section white">
    <div class="row justify-content-center">
      <div class="col-11 col-md-8">
        <h1 class="home-header">Send us a message</h1>

        <form action="" method="post">
          {{ form.hidden_tag() }}
          <p class="mb-4">{{ form.first_name }}</p>
          <p class="mb-4">{{ form.email }}</p>
          <p class="mb-4">{{ form.subject }}</p>
          <p class="mb-4">{{ form.message(rows='3') }}</p>
          {{ form.submit }}
        </form>
      </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript"
          src="{{ url_for('static', filename='js/smooth-scroll.js') }}"></script>
  <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
{% endblock scripts %}
