{% extends "base.html" %}

{% block container %}
  <div class="row justify-content-center">
    <div class="col-11 col-sm-9 col-lg-6">
      <h1>Login</h1>
      <form id="login-form" action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.email }}
        {{ form.password }}
        {{ form.submit }}
      </form>
      <p class="mt-3 text-center">
        <a href="{{ url_for('request_password_reset') }}" class="btn sec">Reset password</a>
      </p>
    </div>
  </div>
{% endblock container %}
