{% extends "base.html" %}

{% block content %}
  <h1>Good choice!</h1>
  <p>
    You are on the path towards a great test
      {% if relation == 'parent' %}
        score for your child.
      {% else %}
        score.
      {% endif %}
    Here are the next steps:
  </p>
  <ul class="list-unstyled">
    {% if test == 'unsure' %}
      <li class="mb-2">
        <p>
          <strong>Let's connect.</strong> There are several aspects to consider
          when deciding between the SAT and ACT. It will be helpful to learn
          a bit more about
            {% if relation == 'parent' %}
              your child
            {% else %}
              you
            {% endif %}
          to determine which test is best. Check that you received a confirmation
          email to <span class="semibold">{{ email }}</span>, and we will be in touch!
        </p>
      </li>
    {% else %}
      <li class="mb-2">
        <strong>Check your email.</strong> Your practice {{ test.upper() }} is linked
        in the email we just sent to <a class="text-decoration-underline">{{ email }}</a>.
        If it doesn't arrive to your inbox, spam, or promotions folder within 5 minutes, please email
        <a href="mailto:hello@openpathtutoring.com?subject=Practice%20test%20inquiry" class="text-decoration-underline" target="_blank">
          hello@openpathtutoring.com</a>.
      </li>
      <li class="mb-2">
        <strong>Take the test.</strong> The email will include instructions
        for making the most of the practice {{ test.upper() }}.
      </li>
      <li><strong>Get in touch.</strong> Reply to the confirmation email before taking the
        test if you need clarification or afterwards to get your score assessment.
      </li>
    {% endif %}
  </ul>


  <div class="row text-center">
    <div class="col">
      <button class="btn cta" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/openpathtutoring/intro?hide_event_type_details=1&primary_color=8c90ed'});return false;">
        Schedule a free trial session
      </button>
      <a href="{{ url_for('index', _anchor='contact') }}" class="sec btn mt-0">
        Get in touch
      </a>
    </div>
  </div>
{% endblock content %}
