{% extends "base.html" %}

{% block content %}
  <form method="post">
    <div class="row">
      <div class="col">
        <h1>Registration & test day reminders</h1>
        <p>
          Select the test dates below for which you would like to receive reminders in advance
          of important registration deadlines. You will receive an email several days before the
          regular registration deadline, late registration deadline, and test day itself. The final
          email will include a checklist of things to bring and suggestions for making the most of
          the opportunity.
        </p>

        {% for t in tests %}
          <div class="row mt-3 g-0">
            <h3 class="mb-1">{{ t.upper() }} dates:</h3>
            <div class="d-flex flex-wrap">
              {% for d in upcoming_dates %}
                {% if d.test == t %}
                  <div class="test-date mt-1">
                    <input type="checkbox" id="{{ d.id }}" value="{{ d.id }}" name="test_dates"
                      {{ "checked" if d.id in selected_date_ids }}>
                    <label for="{{ d.id }}" class="text-nowrap">
                      {{ d.date.strftime('%B %-d') }}
                    </label>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}

        {% if current_user.is_authenticated %}
          <input id="submit" type="submit" name="submit" value="Save">
        {% else %}
          <a href="#" data-bs-toggle="modal" data-bs-target="#signup-modal" data-text="signup">
            <button type="button" class="btn">Save</button>
          </a>

          <div id="signup-modal" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="container-fluid">
                  <div class="row">
                    <div class="modal-header mt-2">
                      <h1 class="modal-title">Create your account to get reminders</h1>
                    </div>
                  </div>
                  <div class="modal-body">
                    {{ form.hidden_tag() }}
                    {{ form.first_name }}
                    {{ form.email }}
                    {{ form.submit }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </form>
{% endblock content %}

{% block end_scripts %}
  <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
{% endblock end_scripts %}