{% extends "base.html" %}

{% block content %}
  <div class="container-fluid page-start">
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="row justify-content-end">
          <div class="col-9 col-md-10">
            <h1 class="page-title mb-4">Reviews</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-3 col-md-2">
            <img class="img-fluid review-img" src="{{ url_for('static', filename='img/grad.svg') }}">
          </div>
          <div class="col-9 col-md-10">
            <p class="mb-2">
              I could not have asked for a better tutor than Danny for my SAT.
              With his help, I was able to score a SAT score in the 99th percentile.
              Through his effective ways of teaching and explaining the material,
              I was able to easily learn and retain the information. Thanks to Danny
              I was way more prepared for the exam compared to my peers and, I would
              not hesitate to ask Danny to be my tutor if I ever need help with
              something again.
            </p>
            <p>
              <strong>&#8211; Timi S, SAT Prep student</strong>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-3 col-md-2">
            <img class="img-fluid review-img" src="{{ url_for('static', filename='img/florida.png') }}">
          </div>
          <div class="col-9 col-md-10">
            <p class="mb-2">
              With Danny’s help as my tutor for the SAT, I was able to achieve a
              1460 on my first attempt. I contacted Danny again because I wanted
              to improve my score and on my second attempt I was able to achieve
              a score of 1500.
            </p>
            <p class="mb-2">
              In addition to helping with my success on the traditional SAT, my
              work with Danny provided me with the framework needed to excel on
              the PSAT as a Junior. I attribute my time with Danny as a crucial
              factor which allowed me to become a National Merit Scholar. As a
              freshman at the University of Florida with aspirations for medical
              school, I am still reaping the numerous benefits provided to me &#8211;
              in terms of scholarships and opportunities &#8211; thanks to my time with
              Danny. I am extremely grateful that I was able to have Danny as my
              tutor.
            </p>
            <p>
              <strong>&#8211; Olusegun S, SAT Prep student</strong>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-3 col-md-2">
            <img class="img-fluid review-img" src="{{ url_for('static', filename='img/grad.svg') }}">
          </div>
          <div class="col-9 col-md-10">
            <p class="mb-2">
              Just wanted to let you know my son's mood was immediately better
              after meeting with you, after being down for about a week and a half.
              I think this is going to be so great for him. Thank you again!
            </p>
            <p>
              <strong>&#8211; Parent of Study Skills student</strong>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-3 col-md-2">
            <img class="img-fluid review-img" src="{{ url_for('static', filename='img/pitt.png') }}">
          </div>
          <div class="col-9 col-md-10">
            <p class="mb-2">
              Danny tutored me in preparation for the SAT my junior year of high
              school and I only have great things to say about him. He was always
              patient and prepared, providing helpful tools and amazing guidance.
              His services were also very thorough. I went on to use the SAT
              test-taking skills he taught not only on the SAT and ACT but also
              at the University of Pittsburgh. I’m very confident that you will
              be happy working with him!
            </p>
            <p>
              <strong>&#8211; Tosin B, SAT Prep student</strong>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-3 col-md-2">
            <img class="img-fluid review-img" src="{{ url_for('static', filename='img/logo.svg') }}">
          </div>
          <div class="col-9 col-md-10">
            <p>
              Danny is fantastic &#8211; he is very able to understand my son's strengths, and then focus on areas for development. He has a calm and patient way that makes tutoring something my son doesn’t dread! He’s very in-tune with my son's interests, and uses that as a basis for the learning as much as possible. This helps my son stay engaged and interested because he feels understood, and can relate to the material. 10/10 would recommend Danny.
            </p>
            <p>
              <strong>&#8211;</strong>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-3 col-md-2">
            <img class="img-fluid review-img" src="{{ url_for('static', filename='img/logo.svg') }}">
          </div>
          <div class="col-9 col-md-10">
            <p>
            </p>
            <p>
              <strong></strong>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-3 col-md-2">
            <img class="img-fluid review-img" src="{{ url_for('static', filename='img/logo.svg') }}">
          </div>
          <div class="col-9 col-md-10">
            <p>
            </p>
            <p>
              <strong></strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
