{% extends "base.html" %}

{% block content %}
  <div class="container-fluid page-start">
    <div class="row justify-content-center">
      <div class="col-10">
        <h1 class="page-title mb-5">Reviews</h1>
        <div class="row">
          <div class="col-3 col-md-2">
            <img class="img-fluid review-img" src="{{ url_for('static', filename='img/logo.svg') }}">
          </div>
          <div class="col-9 col-md-10">
            <p>I could not have asked for a better tutor than Danny for my SAT.
              With his help, I was able to score a SAT score in the 99th percentile.
              Through his effective ways of teaching and explaining the material,
              I was able to easily learn and retain the information. Thanks to Danny
              I was way more prepared for the exam compared to my peers and, I would
              not hesitate to ask Danny to be my tutor if I ever need help with
              something again.
            </p>
            <p>
              <strong>&#8211; Timi S, SAT Prep student</strong>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-3 col-md-2">
            <img class="img-fluid review-img" src="{{ url_for('static', filename='img/logo.svg') }}">
          </div>
          <div class="col-9 col-md-10">
            <p>
            </p>
            <p>
              <strong></strong>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-3 col-md-2">
            <img class="img-fluid review-img" src="{{ url_for('static', filename='img/logo.svg') }}">
          </div>
          <div class="col-9 col-md-10">
            <p>
            </p>
            <p>
              <strong></strong>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-3 col-md-2">
            <img class="img-fluid review-img" src="{{ url_for('static', filename='img/logo.svg') }}">
          </div>
          <div class="col-9 col-md-10">
            <p>
            </p>
            <p>
              <strong></strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
