{% extends "base.html" %}

{% block content %}
  <h1>Score analysis requested</h1>
  <p>
    Thank you for taking this step towards greater education for your student.
    An email confirmation has been sent to <strong>{{ email }}</strong>, and
    you will receive the score analysis within 48 hours. If the
    confirmation email does not arrive to your inbox, spam, or promotions folder
    within 5 minutes, please email
    <a href="mailto:hello@openpathtutoring.com?subject=Practice%20test%20score%20analysis">
      hello@openpathtutoring.com</a>.
  </p>

  <p class="mb-2">
    In the meantime, you are welcome to get in touch if you have any questions.
  </p>

  <div class="row text-center">
    <div class="col">
      <a href="{{ url_for('index', _anchor='contact') }}" class="btn cta">
        Contact us
      </a>
    </div>
  </div>
{% endblock content %}
