{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
  <h2>Sign up</h2>
  <div class="row">
    <div class="col-md-8">
      <form class="" action="" method="post">
        {{ form.hidden_tag() }}

        <div class="row">
          <div class="col-md-6">
            {{ wtf.form_field(form.first_name, form_type="inline") }}
          </div>
          <div class="col-md-6">
            {{ wtf.form_field(form.last_name, form_type="inline") }}
          </div>
          <div class="col-md-12">
            {{ wtf.form_field(form.email, form_type="inline") }}
          </div>
          <div class="col-md-6">
            {{ wtf.form_field(form.password, form_type="inline") }}
          </div>
          <div class="col-md-6">
            {{ wtf.form_field(form.password2, form_type="inline") }}
          </div>
        </div>

        <div class="">
          {{ form.submit() }}
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
