{% extends "base.html" %}

{% block content %}
  <div class="mb-2">
    <button id="add-student" class="my-0 me-2 btn d-inline-block">+ Add student</button>
  </div>


  <form id="add-student-form" class="hidden-form" action="" method="post">
    <h1 class="mb-3 me-2 d-inline-block">Add student</h1>
    <a id="hide-form" href="#">Hide</a>

    {{ form.hidden_tag() }}
    {{ form.student_name }}
    {{ form.student_last_name(onchange="update()") }}
    {{ form.student_email }}
    {{ form.parent_name }}
    <input type="checkbox" id="same-last-name" checked>
    <label for="same-last-name" class="mt-2 ms-2">Same last name as student</label>
    {{ form.parent_last_name(class="d-none") }}
    {{ form.parent_email }}
    {{ form.secondary_email }}
    {{ form.timezone }}
    {{ form.location }}

    {% for t in tests %}
      <div class="row mt-3">
        <h3 class="mb-1">{{ t.upper() }} dates:</h3>
        <div class="d-flex flex-wrap">
          {% for d in upcoming_dates %}
            {% if d.test == t %}
              <div class="test-date mt-1">
                <input type="checkbox" id="{{ d.date }}" value="{{ d.date }}" name="test_dates">
                <label for="{{ d.date }}" class="text-nowrap">
                  {{ d.date.strftime('%B %-d') }}
                </label>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}

    <div class="row mt-3 mb-1">
      <div class="col">
        <h3>Tutor:</h3>
        {{ form.tutor_id }}
      </div>

      <div class="col">
        <h3>Status:</h3>
        {{ form.status }}
      </div>
    </div>
    {{ form.submit(class="mb-3") }}
  </form>
  {% for status in statuses %}
    <h1 class="slide-toggle mb-2 mt-3">{{ status.title() }} students</h1>

    <div id="{{ status }}-students" class="student-list">
      {% for s in students %}
        {% if s.status == status %}
          <div class="row justify-content-centered">
            <div class="col">
              <h3 class="my-1">
                <a class="semibold" href="{{ url_for('edit_user', id=s.id) }}">
                  {{ s.first_name }} {{ s.last_name }}
                </a>
              </h3>

              {% if status == 'active' %}
                <a href="mailto:{{ s.email }}" target="_blank">
                  {{ s.email }}
                </a>
                <ul class="my-2">
                  <li>
                    Parent:
                    {% if s.parent_id %}
                      <a href="{{ url_for('edit_user', id=s.parent_id) }}">
                        {{ s.parent.first_name }} {{ s.parent.last_name }}
                      </a>
                    {% else %}
                      None  
                    {% endif %}
                  </li>
                  <li>
                    Tutor:
                    {% if s.tutor_id %}
                      <a href="{{ url_for('edit_user', id=s.tutor_id) }}">
                        {{ s.tutor.first_name }} {{ s.tutor.last_name }}
                      </a>
                    {% else %}
                      None  
                    {% endif %}
                  </li>
                  <li>Tests:
                    {% for d in s.test_dates %}
                      <a href="{{ url_for('edit_date', id=d.test_date_id) }}">
                        {{ d.test_dates.date.strftime('%b %-d, %Y') }}
                      </a>{{ ";" if not loop.last else "" }}
                    {% endfor %}
                  </li>
                  <!-- <li>Timezone:
                    {% if s.timezone == -2 %}
                        Pacific
                      {% elif s.timezone == -1 %}
                          Mountain
                      {% elif s.timezone == 0 %}
                          Central
                      {% elif s.timezone == 1 %}
                          Eastern
                      {% else %}
                          {{ s.timezone }}
                    {% endif %}
                  </li> -->
                </ul>
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}

  {% for s in other_students %}
    <div class="row justify-content-centered">
      <div class="col">
        <h2 class="my-1">
          <a href="{{ url_for('edit_user', id=s.id) }}">
            {{ s.first_name }} {{ s.last_name }} ({{ s.status }})
          </a>
        </h2>
      </div>
    </div>
  {% endfor %}
{% endblock content %}

{% block end_scripts %}
  <script>
    const slideDown = element => element.style.height = `${element.scrollHeight + 30}px`;
    const slideUp = element => element.style.height = 0;

    document.getElementById("add-student").addEventListener("click", function () {
      this.parentElement.style.display = "none";
      slideDown(document.getElementById("add-student-form"));
    });

    document.getElementById("hide-form").addEventListener("click", function () {
      slideUp(this.parentElement);
      document.getElementById("add-student").parentElement.style.display = "block";
    });

    let slideToggle = (target) => {
      var style = window.getComputedStyle(target),
          height = style.getPropertyValue('height');
      if (height == '0px') {
        return slideDown(target);
      } else {
        return slideUp(target);
      }
    }

    var elements = document.getElementsByClassName("slide-toggle");

    Array.from(elements).forEach(function(element) {
      element.addEventListener("click", function () {
          slideToggle(element.nextElementSibling);
        });
    });

    function update() {
      let updateValue = document.getElementById('student_last_name').value;
      document.getElementById("parent_last_name").value = updateValue;
    }
    
    document.querySelector('#same-last-name').onclick = function() {
      document.getElementById('parent_last_name').classList.toggle('d-none');
    }
  </script>
{% endblock end_scripts %}
