{% extends "base.html" %}

{% block content %}
  <div class="">
    <button id="add-tutor" class="btn d-inline-block my-0 me-2">+ Add tutor</button>
    <a href="{{ url_for('students') }}" class="btn sec py-2">Students</a>
  </div>

  <form id="add-tutor-form" action="" method="post">
    <h1 class="mb-3 me-3 d-inline-block">Add tutor</h1>
    <a id="hide-form" href="#">Hide</a>

    {{ form.hidden_tag() }}
    {{ form.first_name }}
    {{ form.last_name }}
    {{ form.email }}
    {{ form.timezone }}
    {{ form.status(class="my-2") }}
    {{ form.submit(class="mb-3") }}
  </form>
  {% for status in statuses %}
      <h1 class="mt-3">{{ status[0].title() }} tutors</h1>

      {% for t in tutors %}
        {% if t.status == status[0] %}
          <div class="row justify-content-centered">
            <div class="col-9 col-md-10">
              <h2 class="my-1">{{ t.first_name }} {{ t.last_name }}</h2>

              {% if status[0] == 'active' %}
                  <ul class="mb-3">
                    <li>{{ t.email }}</li>
                    <li>Timezone:
                      {% if t.timezone == -2 %}
                          Pacific
                        {% elif t.timezone == -1 %}
                            Mountain
                        {% elif t.timezone == 0 %}
                            Central
                        {% elif t.timezone == 1 %}
                            Eastern
                        {% else %}
                            {{ t.timezone }}
                      {% endif %}
                    </li>
                  </ul>
              {% endif %}
            </div>

            <div class="col-3 col-md-2 text-end">
              <a class="edit btn sec" href="{{ url_for('edit_tutor', id=t.id) }}">
                Edit
              </a>
            </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endblock content %}

{% block end_scripts %}
  <script>
    const slideDown = element => element.style.height = `${element.scrollHeight}px`;
    const slideUp = element => element.style.height = '0px';

    document.getElementById("add-tutor").addEventListener("click", function () {
      this.parentElement.style.display = "none";
      slideDown(document.getElementById("add-tutor-form"));
    });

    document.getElementById("hide-form").addEventListener("click", function () {
      slideUp(this.parentElement);
      document.getElementById("add-tutor").parentElement.style.display = "block";
    });
  </script>
{% endblock end_scripts %}
