{% extends "base.html" %}

{% block content %}
  <div class="mb-3">
    <button id="add-user" class="btn d-inline-block my-0 me-2">+ Add user</button>
    <a href="{{ url_for('students') }}" class="btn sec py-2">Students</a>
  </div>

  <form id="add-user-form" class="hidden-form" action="" method="post">
    <h1 class="mb-3 me-3 d-inline-block">Add user</h1>
    <a id="hide-form" href="#">Hide</a>

    {{ form.hidden_tag() }}
    {{ form.first_name }}
    {{ form.last_name }}
    {{ form.email }}
    {{ form.phone }}
    <!-- {{ form.secondary_email }} -->
    {{ form.timezone }}
    {{ form.location }}
    <div class="d-none">
      {{ form.status }}
      {{ form.is_admin }}
    </div>
    <div class="d-sm-flex mt-3 justify-content-between">
      <div class="mb-2">
        <h3 class="mb-1">Role:</h3>
        {{ form.role }}
      </div>
      <div id="parent-div" class="mb-2">
        <h3 class="mb-1">Parent:</h3>
        {{ form.parent_id }}
      </div>
      <div id="tutor-div" class="mb-2">
        <h3 class="mb-1">Tutor:</h3>
        {{ form.tutor_id }}
      </div>
    </div>
  
    {{ form.submit(class="mb-3") }}
  </form>

  
  {% for r in roles %}
    <h1 class="slide-toggle my-2">Active {{ r.title() }}s</h1>
    <div id="active-{{ r }}s" class="user-list">
      {% for u in active_users %}
        {% if u.role == r %}
          <div class="row mb-2">
            <div class="col">
              <h3 class="mb-1">
                <a class="semibold" href="{{ url_for('edit_user', id=u.id) }}">
                  {{ u.first_name }} {{ u.last_name }}
                </a>
              </h3>
              <p class="mb-1">
                <a href="mailto:{{ u.email }}" target="_blank">
                  {{ u.email }}
                </a>{% if u.phone != "" %},
                <a href="tel:+1{{ u.phone }}">
                  {{ u.phone }}
                </a>{% endif %}
              </p>
              <ul>
              {% if u.role == 'student' %}
                <li>
                  Parent:
                  {% if u.parent_id %}
                    <a href="{{ url_for('edit_user', id=u.parent_id) }}">
                      {{ u.parent.first_name }} {{ u.parent.last_name }}
                    </a>
                  {% else %}
                    None  
                  {% endif %}
                </li>
                <li>
                  Tutor:
                  {% if u.tutor_id %}
                    <a href="{{ url_for('edit_user', id=u.parent_id) }}">
                      {{ u.tutor.first_name }} {{ u.tutor.last_name }}
                    </a>
                  {% else %}
                    None  
                  {% endif %}
                </li>

                {% elif u.role == 'tutor' %}
                  <li>Students:
                    {% for s in u.students %}
                      <a href="{{ url_for('edit_user', id=s.id) }}">
                        {{ s.first_name }} {{ s.last_name }}{{ "," if not loop.last else "" }}
                      </a>
                    {% endfor %}
                  </li>
                
                {% elif u.role == 'parent' %}
                  <li>Children:
                    {% for c in u.children %}
                      <a href="{{ url_for('edit_user', id=c.id) }}">
                        {{ c.first_name }} {{ c.last_name }}{{ "," if not loop.last else "" }}
                      </a>
                    {% endfor %}
                  </li>
                {% endif %}

                <li>Tests:
                  {% for d in u.test_dates %}
                    <a href="{{ url_for('edit_date', id=d.test_date_id) }}">
                      {{ d.test_dates.date.strftime('%b %-d, %Y') }}
                    </a>{{ ";" if not loop.last else "" }}
                  {% endfor %}
                </li>
              </ul>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}

  <h1 class="slide-toggle mt-2">Other users</h1>
  {% for u in other_users %}
    <div class="row mb-3">
      <div class="col">
        <h3 class="mb-1">
          <a class="semibold" href="{{ url_for('edit_user', id=u.id) }}">
            {{ u.first_name }} {{ u.last_name }} ({{ u.status.title() }} {{ u.role }})
          </a>
        </h3>
      </div>
    </div>
  {% endfor %}
{% endblock content %}

{% block end_scripts %}
  <script>
    const slideDown = element => element.style.height = `${element.scrollHeight}px`;
    const slideUp = element => element.style.height = '0px';

    document.getElementById("add-user").addEventListener("click", function () {
      this.parentElement.style.display = "none";
      slideDown(document.getElementById("add-user-form"));
    });

    document.getElementById("hide-form").addEventListener("click", function () {
      slideUp(this.parentElement);
      document.getElementById("add-user").parentElement.style.display = "block";
    });

    let slideToggle = (target) => {
      var style = window.getComputedStyle(target),
          height = style.getPropertyValue('height');
      if (height == '0px') {
        return slideDown(target);
      } else {
        return slideUp(target);
      }
    }

    var elements = document.getElementsByClassName("slide-toggle");

    Array.from(elements).forEach(function(element) {
      element.addEventListener("click", function () {
          slideToggle(element.nextElementSibling);
        });
    });

    document.getElementById('phone').addEventListener('input', function (e) {
      var x = e.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
      e.target.value = !x[2] ? x[1] : + x[1] + '-' + x[2] + (x[3] ? '-' + x[3] : '');
    });
  </script>

  <script src="{{ url_for('static', filename='js/toggle-parent-tutor.js') }}"></script>
{% endblock end_scripts %}
